
<body>
  <% if (user !== null) { %>
    <!-- Common svg definitions -->
    <!-- Plus sign -->
    <svg fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="plus" viewBox="0 0 24 24">
        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5,12H19M12,5V19"/>
      </symbol>
    </svg>
    <!-- Minus sign -->
    <svg fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="minus" viewBox="0 0 24 24">
        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5"/>
      </symbol>
    </svg>
    <!-- Image icon -->
    <svg fill="currentColor" viewBox="-0.5 0.5 42 42" xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="picture" viewBox="-0.5 0.5 42 42">
        <path d="M35.79 31.5c-.05-.04-5.181-7.971-6.72-7.971-1.51 0-4.391 3.851-4.391 3.851-2.24-2.31-7.2-8.87-8.661-8.87-1.509 0-7.449 8.12-10.789 12.99H35.79zm-8.979-17c0 2.04 1.649 3.69 3.689 3.69s3.689-1.65 3.689-3.69-1.649-3.69-3.689-3.69-3.689 1.65-3.689 3.69zM.5 7.5v27c0 2.52.51 3 3 3h34c2.471 0 3-.46 3-3v-27c0-2.46-.471-3-3-3h-34c-2.48 0-3 .43-3 3zm3 0h34v27h-34v-27z"/>
      </symbol>
    </svg>
    <!-- Seach icon -->
    <svg fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="search" viewBox="0 0 24 24">
        <path stroke="currentColor" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="m15 15 6 6m-11-4a7 7 0 1 1 0-14 7 7 0 0 1 0 14Z"/>
      </symbol>
    </svg>
    <!-- Right arrow -->
    <svg fill="none" viewBox="0 0 11 18" xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="arrow-right" viewBox="0 0 11 18">
        <path stroke-width="2" stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" d="M1.5 1.5l8 7.5-8 7.5"/>
      </symbol>
    </svg>
    <!-- Left arrow -->
    <svg fill="none" viewBox="0 0 11 18" xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="arrow-left" viewBox="0 0 11 18">
        <path stroke-width="2" stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" d="M9.5 1.5L1.5 9l8 7.5"/>
      </symbol>
    </svg>
    <!-- Hamburger icon -->
    <svg fill="none" viewBox="4 6 16 12" xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="hamburger" viewBox="4 6 16 12">
        <path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M5 17h14M5 12h14M5 7h14"/>
      </symbol>
    </svg>
    <!-- Upload icon -->
    <svg fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="upload" viewBox="0 0 24 24">
        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12.3v7a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"/>
        <path fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m7.9 6.7 4.1-4 4.1 4"/>
        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 16.3V4.8"/>
      </symbol>
    </svg>
    <!-- Statistics icon -->
    <svg fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="statistics" viewBox="0 0 24 24">
        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12 2a10 10 0 1 0 10 10H12Z"/>
        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M15 9h6.54A10.022 10.022 0 0 0 15 2.46Z"/>
      </symbol>
    </svg>
    <!-- Sort icon -->
    <svg fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="sort" viewBox="0 0 24 24">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M2 7a1 1 0 0 1 1-1h18a1 1 0 1 1 0 2H3a1 1 0 0 1-1-1zm0 5a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H3a1 1 0 0 1-1-1zm1 4a1 1 0 1 0 0 2h10a1 1 0 1 0 0-2H3z" fill="currentColor"/>
      </symbol>
    </svg>
    <!-- Trash icon -->
    <svg fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="trash" viewBox="0 0 24 24">
        <path fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M14 10v7m-4-7v7M6 6v11.8c0 1.12 0 1.68.218 2.108a2 2 0 0 0 .874.874c.427.218.987.218 2.105.218h5.606c1.118 0 1.677 0 2.104-.218.377-.192.683-.498.875-.874.218-.428.218-.987.218-2.105V6M6 6h2M6 6H4m4 0h8M8 6c0-.932 0-1.398.152-1.765a2 2 0 0 1 1.082-1.083C9.602 3 10.068 3 11 3h2c.932 0 1.398 0 1.765.152a2 2 0 0 1 1.083 1.083C16 4.602 16 5.068 16 6m0 0h2m0 0h2"/>
      </symbol>
    </svg>

    <%- include('./navigation.ejs', { user: user }) %>
  <% } %>

  <% if (user !== null) { %>
    <div class="wave wave--top">
      <svg viewBox="0 0 1440 120" xmlns="http://www.w3.org/2000/svg">
        <path d="M1440 21.21V120H0V21.21C120 35.07 240 42 360 42s240-6.93 360-20.79c88.328-8.794 154.574-14.333 198.738-16.618A3120.562 3120.562 0 0 1 1080 .42c120 0 240 6.93 360 20.79z"/>
      </svg>
    </div>
  <% } %>

  <div class="page-wrapper">
    <%- page %>
  </div>

  <% if (user !== null) { %>
    <div class="wave wave--bottom">
      <svg viewBox="0 0 1440 120" xmlns="http://www.w3.org/2000/svg">
        <path d="M1440 21.21V120H0V21.21C120 35.07 240 42 360 42s240-6.93 360-20.79c88.328-8.794 154.574-14.333 198.738-16.618A3120.562 3120.562 0 0 1 1080 .42c120 0 240 6.93 360 20.79z"/>
      </svg>
    </div>
  <% } %>

  <% if (user !== null) { %>
    <%- include('./view-modal.ejs') %>
    <%- include('./view-stats.ejs') %>
    <%- include('./toast-message.ejs') %>
  <% } %>
</body>